{% extends 'myapp/base.html' %}
{% block title %}Confirmer la réinitialisation du mot de passe{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5 bg-dark p-5">
            <h1 class="text-center text-success my-5">Confirmer la réinitialisation du mot de passe</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Réinitialiser le mot de passe</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
