{% extends 'myapp/base.html' %}
{% block title %}Mot de passe réinitialisé{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5 bg-dark p-5">
            <h1 class="text-center text-success my-5">Mot de passe réinitialisé</h1>
            <p class="text-center">Votre mot de passe a été réinitialisé avec succès. Vous pouvez maintenant vous connecter avec votre nouveau mot de passe.</p>
        </div>
    </div>
</div>
{% endblock %}
