{% extends 'myapp/base.html' %}
{% block title %}Réinitialisation du mot de passe envoyée{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5 bg-dark p-5">
            <h1 class="text-center text-success my-5">Réinitialisation du mot de passe envoyée</h1>
            <p class="text-center">Un e-mail de réinitialisation de mot de passe a été envoyé à votre adresse e-mail. Veuillez consulter votre boîte de réception et suivez les instructions pour réinitialiser votre mot de passe.</p>
        </div>
    </div>
</div>
{% endblock %}
