{% load i18n %}
{% autoescape off %}
{% blocktrans %}
Vous recevez cet e-mail car vous avez demandé la réinitialisation du mot de passe pour votre compte sur {{ site_name }}.

Merci de cliquer sur le lien ci-dessous pour réinitialiser votre mot de passe :

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Ce lien expirera dans {{ timeout }} heures.

Si vous n'avez pas demandé de réinitialisation de mot de passe, ignorez cet e-mail et votre mot de passe restera inchangé.

Cordialement,
L'équipe {{ site_name }}
{% endblocktrans %}
{% endautoescape %}
