{% extends 'myapp/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="{% url 'change_password' %}" class="list-group-item list-group-item-action">Change Password</a>
                <a href="{% url 'update_profile' %}" class="list-group-item list-group-item-action">Update Profile</a>
            </div>
        </div>
        <div class="col-md-9">
            <!-- Contenu de la page de profil -->
            <h2>Your Profile</h2>
            <!-- Ajoutez ici le contenu de la page de profil -->
        </div>
    </div>
</div>
{% endblock %}
