{% extends 'myapp/base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-5 bg-dark p-5">
      <h1 class="text-center text-success my-5">Réinitialisation du mot de passe</h1>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Envoyer</button>
      </form>
      <div class="mt-3">
        <a href="{% url 'password_reset_confirm' uidb64=uid token=token %}" class="text-decoration-none text-light">Mot de passe oublié?</a>
        <a href="{% url 'signup' %}" class="text-decoration-none">S'inscrire</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
